PORT=8421
BRAVE_SEARCH=LONG_SECERET_KEY_1
BRAVE_SUGGEST=LONG_SECERET_KEY_2
MOJEEK_SEARCH=LONG_SECERET_KEY_3
MAX_SEARCH_SECS=3600
MAX_SUGGEST_SECS=86400
PATH_TO_EXCLUDE_PATTERNS=./exclusion_patterns.json